body
{
  cursor: url(../assets/cursor/yugicursor.png), default;
}

button,
a,
img:hover,
button:hover,
a:hover
{
  cursor: url(../assets/cursor/yamiyugicursorGLOW.png), auto;
}

.bg-video
{
  position: absolute;
  z-index: -2;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  display: flex;
  justify-content: center;
}

.bg-video .video
{
  height: 100vh;
}

.bg-video::after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
}

.container
{
  position: relative;
  z-index: 3;

  display: flex;
  height: 100vh;
}

.container_left
{
  width: 35%;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container_right
{
  width: 65%;
}

.score_box
{
  background-color: #fff;
  padding: 30px;
}

.frame
{
  border: 3px solid #000;
  border-radius: 6px;
}

.card_details
{
  background-color: #fff;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  width: 100%;
}

#card-name
{
  font-size: 0.8rem;
}

#card-type
{
  font-size: 1rem;
}

.card_box_container
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.3rem;
}

.card_versus_container
{
  display: flex;
  flex-direction: column;
  padding-top: 0.1rem;
  height: 300px;
  margin-top: 5rem;
}

.versus_top,
.versus_bottom
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.versus_bottom
{
  margin-top: 1rem;
}

#next-duel
{
  display: none;
}

.menu_avatar
{
  width: 240px;
}

.menu_avatar img
{
  width: 100%;
}

.card_box
{
  height: 9rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card_infield
{
  height: 11.2rem;
  width: 8rem;
  border: 1px solid #fff;
  border-radius: 6px;
}

.card
{
  transition: 0.2s;
}

.card:hover
{
  transform: scale(1.2);
}